.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 200px;
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.selectedImg {
    background-color: blue;
}

/* Pop-up windows on gallery click */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

.img-btn-next {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 1050;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover {
    opacity: 0.8;
}

.img-btn-prev {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 1050;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover {
    opacity: 0.8;
}