<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/headFragment"></div>
    <title>My account</title>
    </head>
    <body class="">
        <!-- MAIN -->
        <div th:replace="fragments/headMenuFragment"></div>
        <!-- //////////////////////////////// -->
        <div class="wheel-start3">
            <img src="images/bg7.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Get in touch</h3>
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li><a href="#"> pages </a></li>
                                <li class="active">Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //////////////////////////////// -->

        <div class="container-fluid padd-lr0">
            <div class="row padd-lr0">
                <div class="col-xs-12 padd-lr0">
                    <div class="container padd-lr0 xs-padd">
        <div class="row">
            <div class="col-xs-12 padd-lr0 xs-padd sm-addpadd">
                <div class="wheel-collection style-2">
                    <div class="tabs">


                        <div class="tabs-header">
                            <ul role="tablist">
                                <li role="presentation" class="active"><a href="#" data-toggle="tab" role="tab">Details</a></li>
                                <li role="presentation"><a href="#" data-toggle="tab" role="tab">Requests</a></li>

                            </ul>
                        </div>
                        <!---------------------------->
                        <div role="tabpanel" class="tabs-item text-item active">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td><div class="hidden-alerts" id="changesSuccessfull">Saved</div></td>
                                        <td><div class="hidden-alerts" id="changesUnsuccessfull">Not saved</div></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" th:value="${company.name}" class="company-detail name form-control"></td>
                                        <td><input type="text" th:value="${company.address}" class="company-detail address form-control"></td>

                                    </tr>
                                    <tr>

                                        <td><input type="text" th:value="${company.city}" class="company-detail city form-control"></td>
                                        <td><input type="text" th:value="${company.phone}" class="company-detail phone form-control"></td>
                                    </tr>
                                    <tr>

                                        <td><input type="text" th:value="${company.email}" class="company-detail email form-control"></td>
                                        <td><button type="button" class="btn btn-success" onclick="saveCompanyDetails()">Save changes</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!---------------------------------------------->
                        <div role="tabpanel" class="tabs-item text-item">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td>Car id</td>
                                    <td>Start date</td>
                                    <td>End date</td>
                                    <td>Email</td>
                                    <td>Phone</td>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="reservation : ${reservations}" th:class="${#strings.concat('TR',reservation.id)}">
                                    <td th:text="${reservation.carId}"></td>
                                    <td th:text="${reservation.startDate}"></td>
                                    <td th:text="${reservation.endDate}"></td>
                                    <td th:text="${reservation.email}"></td>
                                    <td th:text="${reservation.phone}"></td>
                                    <td><input type="hidden" th:value="${reservation.id}" th:class="${#strings.concat('In',reservation.id)}"/>
                                        <input type="hidden" th:value="${reservation.companyId}" th:class="${#strings.concat('Ip',reservation.id)}"/>
                                        <a href="#" id="acceptClick" th:class="${reservation.id}">Accept</a>|<a href="#" th:class="${reservation.id}" id="declineClick" >Decline</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <!-- ///////////////// -->
        <div th:replace="fragments/footerFragment"></div>


        <div th:replace="fragments/scriptsFragment"></div>
    </body>
<script th:src="@{/assets/js/account.js}"></script>


</html>