<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/headFragment"></div>
    <title>Wheel - Responsive and Modern Car Rental Website Template</title>
    </head>
    <body class="">
        <!-- MAIN -->
        <div th:replace="fragments/headMenuFragment"></div>
        <!-- //////////////////////////////// -->
        <div class="wheel-start3">
            <img src="images/bg7.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Register</h3>
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li><a href="#"> pages </a></li>
                                <li class="active">Register</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////////// -->
        <div class="wheel-register-block">
            <div class="container">
                <div class="row">
                    <div th:if="${param.logout}" class="col-md-12">
                        <div class="alert alert-success">You have been logged out</div>
                    </div>
                    <div class="col-md-5 padd-l0">

                        <div class="wheel-register-log marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                            <div class="wheel-header">
                                <h5>have an account? Log In</h5>
                            </div>
                            <div th:if="${param.login}" class="alert alert-danger">Login failed</div>
                            <form th:action="@{/login}" method="post">
                                <label for="userName" class="fa fa-user"><input type="text" id="userName" name="username" placeholder='Email'></label>
                                <label for="userPass" class="fa fa-lock"><input type="text" id="userPass" name='password' placeholder='Passsword'></label>
                                <button class="wheel-btn">Login Now</button>
                                <label class="password-sing clearfix" for="input-val2">
                                <input type='checkbox' id='input-val2'> <span>Keep me signed in</span>
                                <a href="#">Forgot password?</a>
                                </label>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-7 padd-r0">
                        <div class="wheel-register-sign marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                            <div class="wheel-header">
                                <h5>Sign up Now </h5>
                                <h3>Get <span>Registered</span></h3>
                            </div>
                            <div th:if="${param.successfull}" class="alert alert-success">Register successfull</div>
                            <form th:action="@{/register/new}" method="post" th:object="${companyCommand}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="text" placeholder="Company name" th:field="*{name}">
                                <input type="text" placeholder="Address" th:field="*{address}">
                                <input type="text" placeholder="City" th:field="*{city}">
                                <input type="text" placeholder="Phone" th:field="*{phone}">
                                <input type="text" placeholder="Email" th:field="*{email}">
                                <input type="text" placeholder="Confirm Email">
                                <input type="password" placeholder="Password" th:field="*{password}">
                                <input type="password" placeholder="Confirm Password">
                                <label for="input-val1">
                                <input type="checkbox" id='input-val1'> <span>I agree with the </span>
                                <a href="#">Terms and Conditions</a>
                                </label>
                                <button class="wheel-btn">Sign Up</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <!-- ///////////////// -->
        <div th:replace="fragments/footerFragment"></div>
        <div th:replace="fragments/scriptsFragment"></div>
    </body>

</html>