<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/headFragment"></div>
    <title>Title</title>
</head>
<body class="">
<div th:replace="fragments/headMenuFragment"></div>

<div class="wheel-start3">
    <img th:src="@{/images/bg7.jpg}" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Add new car</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"> pages </a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="step-wrap">
    <!-- ////////////////////////////////////////// -->
    <div class="container padd-lr0">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <ul class="steps">
                    <li class="title-wrap ">
                        <div class="title">
                            <span>1.</span>Insert info about car
                        </div>
                    </li>
                    <li class="title-wrap active">
                        <div class="title">
                            <span>2.</span>Upload your images
                        </div>
                    </li>
                    <li class="title-wrap ">
                        <div class="title">
                            <span>3.</span>Choose your options
                        </div>
                    </li>
                    <li class="title-wrap ">
                        <div class="title">
                            <span>4.</span>Check your information
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////// -->
</div>


<div class="container padd-lr0">
    <div class="row">
        <div class="col-md-6 "><span>
                Images: <form method="post" enctype="multipart/form-data" th:action="@{/car/new/step-3}">
                <input id="imageFiles" name="imageFiles" type="file" class="file" multiple/>
                <input type="submit" value="upload"/>
                </form>
                <br>
            </span>
        </div>

    </div>
</div>


<div th:replace="fragments/scriptsFragment"></div>
</body>

</html>