<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/headFragment"></div>
    <title>Title</title>
</head>
<body class="">
    <div th:replace="fragments/headMenuFragment"></div>

    <div class="wheel-start3">
        <img th:src="@{/images/bg7.jpg}" alt="" class="wheel-img">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 padd-lr0">
                    <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                        <h3>Add new car</h3>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#"> pages </a></li>
                            <li class="active">About</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step-wrap">
        <!-- ////////////////////////////////////////// -->
        <div class="container padd-lr0">
            <div class="row">
                <div class="col-xs-12 padd-lr0">
                    <ul class="steps">
                        <li class="title-wrap active">
                            <div class="title">
                                <span>1.</span>Insert info about car
                            </div>
                        </li>
                        <li class="title-wrap ">
                            <div class="title">
                                <span>2.</span>Upload your images
                            </div>
                        </li>
                        <li class="title-wrap ">
                            <div class="title">
                                <span>3.</span>Choose your options
                            </div>
                        </li>
                        <li class="title-wrap ">
                            <div class="title">
                                <span>4.</span>Check your information
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
    </div>


    <div class="container padd-lr0">
        <div class="row">
            <div class="col-md-6 "><span>
                <form method="post" th:action="@{/car/new/step-2}" th:object="${carCommand}">
                Brand: <input type="text" th:field="*{brand}"> <br>
                Model: <input type="text" th:field="*{model}"><br>
                Fuel: <select name="fuel" id="fuelId" th:field="*{fuel}">
                <option th:each="oneFuel : ${T(sk.durovic.model.Fuel).values()}" th:value="${oneFuel}" th:text="${oneFuel}"></option>
                </select><br>
                Gear: <select name="gear" id="gearId" th:field="*{gear}">
                <option th:each="oneGear : ${T(sk.durovic.model.Gear).values()}" th:value="${oneGear}" th:text="${oneGear}"></option>
                </select><br>
                Power kW: <input type="number" th:field="*{powerKw}"><br>
                Volume: <input type="number" th:field="*{volume}" step="0.01"><br>
                Pick up city: <input type="text" th:field="*{pickUpCity}"><br>
                Seats: <input type="number" th:field="*{seats}"><br>
                Air condition: <select name="airCond" th:field="*{airCondition}">
                    <option th:each="airCond : ${T(sk.durovic.model.AirCondition).values()}" th:value="${airCond}" th:text="${airCond}"></option>
                    </select>
                Package: <input type="text" th:field="*{pack}"><br>
                Category: <select name="category" id="categoryId" th:field="*{category}">
                <option th:each="oneCat : ${T(sk.durovic.model.Category).values()}" th:value="${oneCat}" th:text="${oneCat}"></option>
                </select><br>
                Notes: <input type="text" th:field="*{notes}"><br>
                    <input type="submit" value="continue">
                </form>
                <br>
            </span>
            </div>

        </div>
    </div>


    <div th:replace="fragments/scriptsFragment"></div>
</body>

</html>