<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
  <div th:replace="fragments/headFragment"></div>
  <title>Wheel - Responsive and Modern Car Rental Website Template</title>
</head>
<body class="">
<!-- MAIN -->
<div th:replace="fragments/headMenuFragment"></div>
<!-- //////////////////////////////// -->
<div class="wheel-start3 style-5">
  <img th:src="@{/images/z-bg-11.jpg}" alt="" class="wheel-img">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 padd-lr0">
        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
          <h3>Listing Details</h3>
          <ol class="breadcrumb">
            <li th:if="${car.isEnabled == false}"><a th:href="@{${#strings.concat('/car/publish/', #strings.toString(car.id))}}" role="button" class="btn btn-success">Publish</a></li>
            <li th:if="${car.isEnabled == true}"><a th:href="@{${#strings.concat('/car/unpublish/', #strings.toString(car.id))}}" role="button" class="btn btn-primary">Unpublish</a></li>
            <li><a th:href="@{${#strings.concat('/car/update/', #strings.toString(car.id))}}" role="button" class="btn btn-warning">Edit</a></li>
            <li class="active"><a href="@{${#strings.concat('/car/delete/', #strings.toString(car.id))}}" role="button" class="btn btn-danger">Delete</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="imgOnBanner-wrap">
    <img th:src="${car.mainImage}" alt="" class="imgOnBanner img-responsive">
  </div>
</div>

<div class="container-fluid padd-lr0">
  <div class="row padd-lr0">
    <div class="col-xs-12 padd-lr0">
      <div class="container padd-lr0 xs-padd">
        <div class="row">
          <div class="col-xs-12">
            <div class="listing-hedlines t-center">
              <h5 class="title" th:text="${#strings.concat(car.brand, ' ', car.model)}">Car name</h5>
              <div class="subtitle"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 padd-lr0 xs-padd sm-addpadd">
            <div class="wheel-collection style-2">
              <div class="tabs">


                <div class="tabs-header">
                  <ul>
                    <li class="active"><a href="#" data-toggle="tab">Features</a></li>
                    <li><a href="#" data-toggle="tab">Description</a></li>
                    <li><a href="#" id="photos" data-toggle="tab">Photos</a></li>
                  </ul>
                </div>
                <div class="tabs-content marg-lg-b30">
                  <div class="tabs-item text-item active">
                    <ul class="tabslist">
                      <li class="item" th:text="${#strings.concat(car.fuel, ' ', car.volume, 'l')}">fuel</li>
                      <li class="item" th:text="${#strings.concat('Gear: ',car.gear)}">gear</li>
                    </ul>
                    <ul class="tabslist">
                      <li class="item" th:text="${#strings.concat(car.powerKw,' kW')}">powerKw</li>
                      <li class="item" th:text="${#strings.concat('Number of seats: ',car.seats)}">seats</li>
                    </ul>
                    <ul class="tabslist">
                      <li class="item" th:text="${#strings.concat('Air Conditioning: ', car.airCondition)}">Air conditioning</li>
                      <li class="item" th:text="${#strings.concat('Package: ', car.pack)}">pack</li>
                      <li></li>
                    </ul>
                  </div>


                  <div class="tabs-item text-item">
                    <div th:text="${car.notes}">Description of car</div>
                  </div>

                  <div class="tabs-item text-item">
                    <div class="col-md-12">
                      <div class="grid">
                        <div class="grid-item" style="margin: 0px, padding: 0px" th:each="image : ${images}">
                          <img th:src="${image.toString()}" class="img-thumbnail" />
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row marg-lg-t55 marg-sm-t0 marg-sm-b0 marg-lg-b75">
          <div class="col-xs-12 marg-lg-b75 marg-sm-b0 padd-lr0">
            <div class="wheel-map style-1" data-lat="40.7143528" data-lng="-74.0059731" data-marker="images/marker.png" data-zoom="10" data-style="style-1" data-string="WPC string"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<!-- ///////////////// -->

<div th:replace="fragments/footerFragment"></div>

<div th:replace="fragments/scriptsFragment"></div>

</body>

<script>
  let elem = document.querySelector(".grid");
    let msnry;

    imagesLoaded(elem, function() {
    msnry = new Masonry(elem, function() {
        itemSelector: ".grid-item";

    });
    });

    let photo = document.querySelector("#photos");
    photo.addEventListener("click", function(e) {
        e.preventDefault();
        setTimeout(function() {
        msnry.layout();
        }, 500);

    });

    let phtArray = document.querySelectorAll(".img-thumbnail");
    let nmr=0;

    phtArray.forEach( (oneImg) => {

        oneImg.setAttribute("id", nmr);

        let imgPath = oneImg.getAttribute("src");
        //console.log(imgPath);
        let imgNameArray = imgPath.split("\\");
        //console.log(imgNameArray);
        let carId = imgNameArray[imgNameArray.length - 2];
        //console.log(carId);
        let imgName = imgNameArray[imgNameArray.length - 1];
        //console.log(imgName);

        oneImg.setAttribute("onclick", "deleteImg('"+imgName+"', '"+carId+"', '"+nmr+"')");

        nmr++;
    }
    );

    function deleteImg(imgName, carId, elemId){
        document.querySelector("div.grid-item img[id='"+elemId+"']").remove();
        msnry.layout();

        let url = window.location.origin+"/api/image";
        let xhr = new XMLHttpRequest();

        xhr.open("DELETE", url);
        xhr.setRequestHeader("Content-type", "application/json");

        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }
        };

        let data = JSON.stringify({
            "imgName": imgName,
            "carId": carId
        });

        xhr.send(data);
    };
</script>


</html>