
<th:block th:fragment="javaScriptsFragment">

    <!-- Scripts project -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{~/assets/js/jquery-2.2.4.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{~/assets/js/bootstrap.min.js}"></script>-->
    <!-- count -->
    <script type="text/javascript" th:src='@{~/assets/js/jquery.countTo.js}'></script>
    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt5tJTim4lOO3ojbGARhPd1Z3O3CnE-C8" type="text/javascript"></script>
    <!-- swiper -->
    <script type="text/javascript" th:src="@{~/assets/js/idangerous.swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{~/assets/js/equalHeightsPlugin.js}"></script>
    <script type="text/javascript" th:src="@{~/assets/js/jquery.datetimepicker.full.min.js}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{~/assets/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{~/assets/js/index.js}"></script>
    <!-- sixth block end -->
</th:block>
